In [41]:
import pandas as pd

In [42]:
df = pd.read_csv('used.csv')

In [43]:
df.head()

,Fever,Salivation,paralysis,vomiting,diarrhea,Loss of Weight,cough,cold,respiration,Abortion,joint and muscle pain,Disease
0,1,1,1,0,0,0,0,0,0,0,0,Rabies
1,1,0,0,0,1,1,0,0,0,0,0,Canine Parvovirus
2,0,0,0,1,1,1,0,0,0,0,0,Canine coronavirus
3,0,0,0,1,0,0,0,0,1,0,0,Canine distemper
4,1,0,0,0,1,0,1,0,1,0,0,Canine influenza

In [44]:
y = df["Disease"]

In [45]:
from sklearn.preprocessing import LabelEncoder
le_FU = LabelEncoder()

In [46]:
x = pd.DataFrame(columns=["S1","S2","S3","S4","S5","S6","S7","S8","S9","S10","s11"])

In [47]:
x

Empty DataFrame
Columns: [S1, S2, S3, S4, S5, S6, S7, S8, S9, S10, s11]
Index: []

In [48]:

x["S1"] = df["Fever"]
x["S2"] = df["Salivation"]
x["S3"] = df["paralysis"]
x["S4"] = df["vomiting"]
x["S5"] = df["diarrhea"]
x["S6"] = df["Loss of Weight"]
x["S7"] = df["cough"]
x["S8"] = df["cold"]
x["S9"] = df["respiration"]
x["S10"] = df["Abortion"]
x["s11"] =df["joint and muscle pain"]

In [49]:
x

    S1  S2  S3  S4  S5  S6  S7  S8  S9  S10  s11
0    1   1   1   0   0   0   0   0   0    0    0
1    1   0   0   0   1   1   0   0   0    0    0
2    0   0   0   1   1   1   0   0   0    0    0
3    0   0   0   1   0   0   0   0   1    0    0
4    1   0   0   0   1   0   1   0   1    0    0
5    0   0   0   0   0   0   0   1   0    1    0
6    1   0   1   0   0   0   0   1   0    1    0
7    0   0   0   0   1   0   0   0   1    1    0
8    1   0   0   0   1   0   0   0   0    0    1
9    0   0   0   1   0   1   0   0   0    0    0
10   1   0   0   1   1   0   0   0   0    1    0
11   1   1   1   0   0   1   0   0   0    0    1
12   0   0   0   1   0   1   0   1   0    0    0
13   0   0   0   1   0   1   1   0   0    0    0
14   0   0   0   1   0   1   0   0   0    0    0
15   0   0   0   0   0   1   0   0   0    0    0
16   0   1   0   0   1   0   1   0   0    0    0
17   0   0   0   0   0   0   1   0   0    0    0
18   1   0   0   0   0   0   0   0   0    0    1
19   0   1   0   0   0   0   0   0   1    0    0
20   1   0   0   0   0   0   0   0   0    0    0
21   1   1   0   0   0   0   1   0   1    0    0
22   1   0   0   0   0   0   1   0   1    0    0
23   0   0   0   0   0   0   0   0   0    0    0
24   0   0   0   0   1   1   0   0   0    0    0
25   0   1   0   0   0   0   0   0   1    0    0

In [50]:
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier()

In [51]:
classifier.fit(x,y)
RandomForestClassifier()

RandomForestClassifier()

In [52]:
classifier.predict([[1,1,1,1,1,1,1,1,1,0,1]])

array(['Rabies'], dtype=object)

In [53]:
import pickle

In [54]:
with open('my_model','wb') as f:
    pickle.dump(classifier,f)

In [55]:
with open('my_model','rb') as f:
    model = pickle.load(f)

In [56]:
model.predict([[1,1,1,1,1,1,1,1,1,0,1]])

array(['Rabies'], dtype=object)